{% extends 'layout.html.twig' %}

{% block title %}Fiverr - Plateforme de services freelances pour entreprises{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custom') }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rightColumn') }}
{#     {{ encore_entry_script_tags('home') }} #}
{% endblock %}

{% block body %}
    <div class="fake-content d-flex col-12">
        <div class="col-8 m-0 p-0">
            {% include "component/_chat.html.twig" %}
        </div>
        <div class="col-4 m-0 p-0">
            {% include "component/_rightColumn.html.twig" %}
        </div>
    </div>
 {% endblock %}
