<nav class="navbar navbar-expand-lg mb-0 px-5 col-12">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img class="navbar-img d-none d-lg-block" src="{{ asset('build/images/Fiverr_Logo.png') }}" height="25" alt="fiverr brand logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-4 mt-lg-0" id="navbarSupportedContent">
            <form class="d-flex col-4">
                <input class="form-control rounded-0" type="search" placeholder="Find Services" aria-label="Search">
                <button class="btn btn-success rounded-0 border-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-lg-0">
                {% if app.user %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-success text-decoration-none" href="#">Fiverr Pro</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-primary text-decoration-none" href="#">Try Fiverr Business</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Explore</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Posts</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Lists</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Orders</a>
                    </li>
                    <li class="nav-item dropdown d-flex align-items-center">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle" src="{{ app.user.profilePicture }}" alt="profile picture">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{{ path('profil') }}">Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-primary text-decoration-none" href="#">Fiverr Business</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Explore</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">French</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">€EUR</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="#">Become a Provider</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary text-decoration-none" href="{{ path('app_login') }}">log In</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="registerNavbar p-2 text-decoration-none" href="#">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
